<nav class='navbar navbar-expand-lg '>
    <div class='container'>
        <div class='collapse navbar-collapse justify-content-center'>
            <ul class='navbar-nav'>
                <li *ngFor="let category of categories; let i = index " class='nav-item'><a class='nav-link'>
                        <span *ngIf="isSkeleton"> <p-skeleton [width]="'30px'" [height]="'20px'"> </p-skeleton>
                        </span>
                        <span *ngIf="!isSkeleton"> {{category.data.category}} </span>
                    </a>
                </li>
                <!-- <p-skeleton [width]="'30px'" [height]="'20px'"> </p-skeleton> -->


            </ul>
        </div>
    </div>
</nav>