<div class="comments-list my-5">
    <h4> Comments (324) </h4>
    <!-- Comment -->
    <div class="card my-3">
        <div class="card-body">
            <h6> Ahmad Haseeb </h6>
            <small class="text-danger"> Lase updated at 20 - 12 - 2023 </small>
            <p class='my-3'> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos deleniti autem, iste
                consectetur aliquam
                fuga nisi totam! Distinctio maiores necessitatibus id velit at. Nisi deserunt aut, voluptatum neque
                dolores hic?</p>
            <div class="replays"><a class='text-uppercase mr-2'> Replay </a> <a class='text-uppercase'> View Replay </a>
            </div>
        </div>
    </div>
    <!-- Comment -->
    <div class="card my-3">
        <div class="card-body">
            <h6> Ahmad Haseeb </h6>
            <small class="text-danger"> Lase updated at 20 - 12 - 2023 </small>
            <p class='my-3'> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos deleniti autem, iste
                consectetur aliquam
                fuga nisi totam! Distinctio maiores necessitatibus id velit at. Nisi deserunt aut, voluptatum neque
                dolores hic?</p>
            <div class="replays"><a class='text-uppercase mr-2'> Replay </a> <a class='text-uppercase'> View Replay </a>
            </div>
        </div>
    </div>
    <!-- Comment -->
    <div class="card my-3">
        <div class="card-body">
            <h6> Ahmad Haseeb </h6>
            <small class="text-danger"> Lase updated at 20 - 12 - 2023 </small>
            <p class='my-3'> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos deleniti autem, iste
                consectetur aliquam
                fuga nisi totam! Distinctio maiores necessitatibus id velit at. Nisi deserunt aut, voluptatum neque
                dolores hic?</p>
            <div class="replays"><a class='text-uppercase mr-2'> Replay </a> <a class='text-uppercase'> View Replay </a>
            </div>
        </div>
    </div>
    <!-- Comment -->
    <div class="card my-3">
        <div class="card-body">
            <h6> Ahmad Haseeb </h6>
            <small class="text-danger"> Lase updated at 20 - 12 - 2023 </small>
            <p class='my-3'> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos deleniti autem, iste
                consectetur aliquam
                fuga nisi totam! Distinctio maiores necessitatibus id velit at. Nisi deserunt aut, voluptatum neque
                dolores hic?</p>
            <div class="replays"><a class='text-uppercase mr-2'> Replay </a> <a class='text-uppercase'> View Replay </a>
            </div>
        </div>
    </div>
    <!-- Because the comment will be added from the database dynamically with looping, it is not necessary to create a separate component for the it otherwise it would be 
    better to do that because it is repetitive -->

</div>