<section class='bg-theme container'>
    <h1 class='text-uppercase text-center text-white mb-5'> About us </h1>
    <div class="secondary-bg-theme p-4">
        <div class="paragraph my-2">
            <h4> We Are </h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure dolor impedit nisi doloribus corrupti rem
                ratione est, quaerat tenetur, ad nam eum? A et corporis non consectetur enim molestias cumque!
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam cum magnam ex minus illo, quod nam
                beatae praesentium animi voluptate deserunt! Recusandae nostrum, aperiam corrupti suscipit voluptatem
                numquam at assumenda.Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure dolor impedit nisi
                doloribus corrupti rem
                ratione est, quaerat tenetur, ad nam eum? A et corporis non consectetur enim molestias cumque!
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam cum magnam ex minus illo, quod nam
                beatae praesentium animi voluptate deserunt! Recusandae nostrum, aperiam corrupti suscipit voluptatem
                numquam at assumenda.Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure dolor impedit nisi
                doloribus corrupti rem
                ratione est, quaerat tenetur, ad nam eum? A et corporis non consectetur enim molestias cumque!
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam cum magnam ex minus illo, quod nam
                beatae praesentium animi voluptate deserunt! Recusandae nostrum, aperiam corrupti suscipit voluptatem
                numquam at assumenda.</p>
        </div>
        <div class="paragraph">
            <h4> Our Vision </h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure dolor impedit nisi doloribus corrupti rem
                ratione est, quaerat tenetur, ad nam eum? A et corporis non consectetur enim molestias cumque!
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam cum magnam ex minus illo, quod nam
                beatae praesentium animi voluptate deserunt! Recusandae nostrum, aperiam corrupti suscipit voluptatem
                numquam at assumenda.Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure dolor impedit nisi
                doloribus corrupti rem
                ratione est, quaerat tenetur, ad nam eum? A et corporis non consectetur enim molestias cumque!
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam cum magnam ex minus illo, quod nam
                beatae praesentium animi voluptate deserunt! Recusandae nostrum, aperiam corrupti suscipit voluptatem
                numquam at assumenda.</p>
        </div>
        <div class="paragraph">
            <h4> Our Vision </h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure dolor impedit nisi doloribus corrupti rem
                ratione est, quaerat tenetur, ad nam eum? A et corporis non consectetur enim molestias cumque!
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam cum magnam ex minus illo, quod nam
                beatae praesentium animi voluptate deserunt! Recusandae nostrum, aperiam corrupti suscipit voluptatem
                numquam at assumenda.Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure dolor impedit nisi
                doloribus corrupti rem
                ratione est, quaerat tenetur, ad nam eum? A et corporis non consectetur enim molestias cumque!
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam cum magnam ex minus illo, quod nam
                beatae praesentium animi voluptate deserunt! Recusandae nostrum, aperiam corrupti suscipit voluptatem
                numquam at assumenda.</p>
        </div>
        <div class="paragraph">
            <h4> Our Vision </h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure dolor impedit nisi doloribus corrupti rem
                ratione est, quaerat tenetur, ad nam eum? A et corporis non consectetur enim molestias cumque!
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam cum magnam ex minus illo, quod nam
                beatae praesentium animi voluptate deserunt! Recusandae nostrum, aperiam corrupti suscipit voluptatem
                numquam at assumenda.Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure dolor impedit nisi
                doloribus corrupti rem
                ratione est, quaerat tenetur, ad nam eum? A et corporis non consectetur enim molestias cumque!
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam cum magnam ex minus illo, quod nam
                beatae praesentium animi voluptate deserunt! Recusandae nostrum, aperiam corrupti suscipit voluptatem
                numquam at assumenda.</p>
        </div>
        <div class="paragraph">
            <h4> Our Vision </h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure dolor impedit nisi doloribus corrupti rem
                ratione est, quaerat tenetur, ad nam eum? A et corporis non consectetur enim molestias cumque!
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam cum magnam ex minus illo, quod nam
                beatae praesentium animi voluptate deserunt! Recusandae nostrum, aperiam corrupti suscipit voluptatem
                numquam at assumenda.Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure dolor impedit nisi
                doloribus corrupti rem
                ratione est, quaerat tenetur, ad nam eum? A et corporis non consectetur enim molestias cumque!
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam cum magnam ex minus illo, quod nam
                beatae praesentium animi voluptate deserunt! Recusandae nostrum, aperiam corrupti suscipit voluptatem
                numquam at assumenda.</p>
        </div>

        <div class="row">
            <div class="col text-center"><button routerLink="" class='btn-theme'> Back To Home </button></div>
        </div>
    </div>
</section> border : 10px solid transparent