<section>
    <div class="container">
        <!-- Section's Image -->
        <div class="row box-shadow no-gutters">
            <img src="https://images.pexels.com/photos/18116572/pexels-photo-18116572/free-photo-of-boats-in-the-harbor.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                alt="" class="img-fluid">
        </div>
        <!-- Section's body -->
        <div class="row my-3  no-gutters">
            <div class=" col-md-9  card ">
                <div class=" card-body ">

                    <small class=" text-center text-danger"> Design </small>
                    <small class=" text-center text-success mx-3"> Featured </small>
                    <small class=" text-center text-info"> Views - 1000,256</small>

                    <h1 class='my-3'>This is the Title for the post</h1>
                    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus eveniet harum ipsum aliquid
                        dolor
                        repellat esse architecto consectetur tempore quisquam voluptatum consequatur cumque perferendis
                        sit,
                        possimus voluptatem aspernatur nulla deserunt? Lorem ipsum dolor sit amet consectetur
                        adipisicing
                        elit. Voluptatem fugiat maxime exercitationem commodi in facere. Reprehenderit maxime ipsam,
                        tempore
                        mollitia repellendus nemo fuga doloremque, dignissimos, voluptatum quasi accusamus repellat
                        perspiciatis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus suscipit
                        temporibus
                        exercitationem eaque culpa natus dolorum cumque omnis doloribus similique, quo ea explicabo
                        tenetur
                        magni nihil, laboriosam ratione soluta libero?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus eveniet harum ipsum aliquid
                        dolor
                        repellat esse architecto consectetur tempore quisquam voluptatum consequatur cumque perferendis
                        sit,
                        possimus voluptatem aspernatur nulla deserunt? Lorem ipsum dolor sit amet consectetur
                        adipisicing
                        elit. Voluptatem fugiat maxime exercitationem commodi in facere. Reprehenderit maxime ipsam,
                        tempore
                        mollitia repellendus nemo fuga doloremque, dignissimos, voluptatum quasi accusamus repellat
                        perspiciatis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus suscipit
                        temporibus
                        exercitationem eaque culpa natus dolorum cumque omnis doloribus similique, quo ea explicabo
                        tenetur
                        magni nihil, laboriosam ratione soluta libero?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus eveniet harum ipsum aliquid
                        dolor
                        repellat esse architecto consectetur tempore quisquam voluptatum consequatur cumque perferendis
                        sit,
                        possimus voluptatem aspernatur nulla deserunt? Lorem ipsum dolor sit amet consectetur
                        adipisicing
                        elit. Voluptatem fugiat maxime exercitationem commodi in facere. Reprehenderit maxime ipsam,
                        tempore
                        mollitia repellendus nemo fuga doloremque, dignissimos, voluptatum quasi accusamus repellat
                        perspiciatis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus suscipit
                        temporibus
                        exercitationem eaque culpa natus dolorum cumque omnis doloribus similique, quo ea explicabo
                        tenetur
                        magni nihil, laboriosam ratione soluta libero?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus eveniet harum ipsum aliquid
                        dolor
                        repellat esse architecto consectetur tempore quisquam voluptatum consequatur cumque perferendis
                        sit,
                        possimus voluptatem aspernatur nulla deserunt? Lorem ipsum dolor sit amet consectetur
                        adipisicing
                        elit. Voluptatem fugiat maxime exercitationem commodi in facere. Reprehenderit maxime ipsam,
                        tempore
                        mollitia repellendus nemo fuga doloremque, dignissimos, voluptatum quasi accusamus repellat
                        perspiciatis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus suscipit
                        temporibus
                        exercitationem eaque culpa natus dolorum cumque omnis doloribus similique, quo ea explicabo
                        tenetur
                        magni nihil, laboriosam ratione soluta libero?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus eveniet harum ipsum aliquid
                        dolor
                        repellat esse architecto consectetur tempore quisquam voluptatum consequatur cumque perferendis
                        sit,
                        possimus voluptatem aspernatur nulla deserunt? Lorem ipsum dolor sit amet consectetur
                        adipisicing
                        elit. Voluptatem fugiat maxime exercitationem commodi in facere. Reprehenderit maxime ipsam,
                        tempore
                        mollitia repellendus nemo fuga doloremque, dignissimos, voluptatum quasi accusamus repellat
                        perspiciatis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus suscipit
                        temporibus
                        exercitationem eaque culpa natus dolorum cumque omnis doloribus similique, quo ea explicabo
                        tenetur
                        magni nihil, laboriosam ratione soluta libero?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus eveniet harum ipsum aliquid
                        dolor
                        repellat esse architecto consectetur tempore quisquam voluptatum consequatur cumque perferendis
                        sit,
                        possimus voluptatem aspernatur nulla deserunt? Lorem ipsum dolor sit amet consectetur
                        adipisicing
                        elit. Voluptatem fugiat maxime exercitationem commodi in facere. Reprehenderit maxime ipsam,
                        tempore
                        mollitia repellendus nemo fuga doloremque, dignissimos, voluptatum quasi accusamus repellat
                        perspiciatis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus suscipit
                        temporibus
                        exercitationem eaque culpa natus dolorum cumque omnis doloribus similique, quo ea explicabo
                        tenetur
                        magni nihil, laboriosam ratione soluta libero?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus eveniet harum ipsum aliquid
                        dolor
                        repellat esse architecto consectetur tempore quisquam voluptatum consequatur cumque perferendis
                        sit,
                        possimus voluptatem aspernatur nulla deserunt? Lorem ipsum dolor sit amet consectetur
                        adipisicing
                        elit. Voluptatem fugiat maxime exercitationem commodi in facere. Reprehenderit maxime ipsam,
                        tempore
                        mollitia repellendus nemo fuga doloremque, dignissimos, voluptatum quasi accusamus repellat
                        perspiciatis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus suscipit
                        temporibus
                        exercitationem eaque culpa natus dolorum cumque omnis doloribus similique, quo ea explicabo
                        tenetur
                        magni nihil, laboriosam ratione soluta libero?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus eveniet harum ipsum aliquid
                        dolor
                        repellat esse architecto consectetur tempore quisquam voluptatum consequatur cumque perferendis
                        sit,
                        possimus voluptatem aspernatur nulla deserunt? Lorem ipsum dolor sit amet consectetur
                        adipisicing
                        elit. Voluptatem fugiat maxime exercitationem commodi in facere. Reprehenderit maxime ipsam,
                        tempore
                        mollitia repellendus nemo fuga doloremque, dignissimos, voluptatum quasi accusamus repellat
                        perspiciatis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus suscipit
                        temporibus
                        exercitationem eaque culpa natus dolorum cumque omnis doloribus similique, quo ea explicabo
                        tenetur
                        magni nihil, laboriosam ratione soluta libero?</p>
                    <small class=" text-warning"> Last updated at 20 - 12 - 2023</small>
                    <div class="my-5">
                        <app-comment-form></app-comment-form>
                        <app-comments-list></app-comments-list>

                    </div>
                </div>

            </div>
            <div class="col-md-3  ">
                <div class="mb-2"><app-post-card></app-post-card></div>
                <div class="mb-2"><app-post-card></app-post-card></div>
                <div class="mb-2"><app-post-card></app-post-card></div>
                <div class="mb-2"><app-post-card></app-post-card></div>

            </div>
        </div>
    </div>
</section>
<!-- img-fluid maximizes the image's width and automates the height 
no-gutters class removes the -15px margin from left and right-->