<div class="card box-shadow justify-content-center">
    <img src="https://images.pexels.com/photos/9937459/pexels-photo-9937459.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        alt="post-image" class="card-img-top card-img"> <!-- to place the image at the start of the card -->

    <div class="card-body">
        <!-- These small elements are inline elements so It is not necessary to enclose them into a separate div -->
        <small class=" text-center text-danger"> Design </small>
        <small class=" text-center text-success mx-3"> Featured </small>
        <small class=" text-center text-info"> Views - 1000,256</small>
        <h5 class="my-2"> This is the Title for the post</h5>
        <p class='card-text'> Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum recusandae distinctio hic
            debitis nam, obcaecati nisi temporibus sunt impedit alias iste eaque exercitationem ullam porro numquam eos
            illum libero dolorum.</p>
        <small class=" text-warning text-center"> Last updated at 20 - 12 - 2023</small>
    </div>
</div>
<!-- The bootstrap card makes the image fit so you don't have to give it the width and height 100% -->